.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 50px;
  width: 50px;
}

.featureCard {
  display: block;
  padding: 20px;
  margin: 10px;
  background-color: var(--ifm-background-color);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.featuresContainer {
  display: flex;
  justify-content: center;
}

.centeredRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the row */
}

.smallCard {
  height: 60%; /* Adjust this value as per your requirement */
}


.search-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-header .DocSearch-Container {
  width: 100%;
  max-width: 600px; /* Adjust the max width as needed */
}

.DocSearch-Form {
  display: flex;
  width: 100%;
}

.DocSearch-Input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}