.customLayout {
  background-color: white;
  display: flex;
  justify-content: flex-start; /* adjust here to control the space between elements */
  padding: 20px;
}

.logoTags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  height: 50px;
  margin-bottom: 20px; /* add space below the logo */
}

.tags {
  margin-bottom: 20px; /* add space below the tags if necessary */
}

.overview {
  color: black;
  margin-left: 50px; /* adjust this to bring the overview closer or further from the left */
}

.overviewText {
  color: black;
  margin-left: 50px; /* adjust this to bring the overview closer or further from the left */
}

.container {
  margin-left: 100px; /* adjust this to control the space between overview and the new container */
}
